

			<div class="wrapper style1">
								<hr />
								<h3>Find me on</h3>
								<ul class="social">
									<li><a href="https://twitter.com/slaaysrcecoders"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/slaaysourcecoders"><span class="label">Facebook</span></a></li>
									<li><a href="" ><span ></span></a></li>
									<li><a href="#" ><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/slaay" ><span class="label">Github</span></a></li>
								</ul>
								<hr />
					<footer>
						<ul id="copyright">
							<li>&copy; All rights reserved.</li><li> design modified by: <a href="http://slaaysourcecoders.in">slaaysourcecoders</a></li>
						</ul>
					</footer>
			</div>

	   </div>
	</body>
</html>