 <h3>About Me</h3>

<p>I am Presley Dias, a software engineer by profession. 
I love to experiment with different technologies in my free time.
I suck as web developer so this site and <a href="http://slaaysourcecoders.in">slaaysourcecoders.in</a>
 are my way of learning new stuff ;)
 and not to forget my App site, where you can find out about all my apps under development 
 <a href="http://apps.slaaysourcecoders.in">app.slaaysourcecoders.in</a> </p>
 

 <h3>Recent post</h3>
 <ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>